/*  Stylesheet */
/**
 *
 * Made By Mad Machines
 */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background: #1c1c38;
	color: white;

	font-family: 'Lato', sans-serif;
}

header {
	height: 100px!important;
	width: 100%;
	z-index: 10;
}

header > nav {
	height: 100px;
	line-height: 100px;
}

nav {
	background-color: rgb(25, 25, 51)!important;
	box-shadow: none!important;
}

nav .brand-logo {
	font-weight: 700;
    text-transform: uppercase;
    color: #ED3952;

	margin-left: 2.8125em;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: -4px;
}

@media (max-width: 993px) {
	nav .brand-logo {
		margin-left: 0;
	}
}

nav ul {
	margin-right: 2.8125em;
}

nav ul li a {
	margin: 0 1.25em;
	font-size: .8125em;
	letter-spacing: .0625em;

	transition: all 1000ms ease-in;
}

nav ul li.active, nav ul li:hover {
	background-color: transparent!Important;
}

nav ul li.active a, nav ul li:hover a {
	color: #ED3952;
}

#particles {
	z-index: 1;
}

.particles-js-canvas-el {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}


main {
	height: 100%;
	width: 100%;
	position: relative;
	z-index: 9;
}

main > div {
	width: 100%;

	text-align: center;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 993px) {
	main > div {
		height: 100%;
		padding-top: 100px;
	}
}

main > div h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	line-height: 125%;
	letter-spacing: -4px;
	max-width: 900px;
	margin: 20px auto 40px;
}

@media (max-width: 603px) {
	main > div h1 {
		font-size: 3rem;
	}
}

main > div p {
	max-width: 1100px;
	margin: 20px auto;
	font-weight: 400;
	line-height: 150%;
	font-size: 1.3em;
	letter-spacing: 0.5px;
}

main > div .btn {
	margin: 15px 10px;
	background-color: #fff;
	color: #ED3952;
	font-weight: bold;
}

main > div img {
	display: block;
	margin: 0 auto;
}

main > div .btn:hover {
	background-color: #ED3952;
	color: white;
}

.specialize-row {
	font-size: 1.2em;
	font-weight: bold;
}


.red-color {
	color: #ED3952;
	font-family: 'Montserrat', sans-serif;
}

.uppercase {
	text-transform: uppercase;
}

#google-map {
	min-height: 300px;
	WIDTH: 100%;
	margin: 0 auto;
	color: #1c1c38;
	text-align: left;

}

#contact .address-col{
	text-align: left;
	font-size: 1em;
	padding: 0 20px;
}

#contact .address-col a,
#contact .address-col h5 {
	color: #ED3952;
	font-weight: bold;
}

#contact .address-col address {
	font-style: normal;
}

#contact .address-col p{
	font-size: 1em;
}

#contact .address-col li{
	display: inline-block;
	margin: auto 10px;
}

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
	    border-bottom: 1px solid #ED3952;
    box-shadow: 0 1px 0 0 #ED3952;
}

input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
	color: #ED3952;
}

footer {
	position: fixed;
	height: 40px;
	bottom: 0;
	width: 100%;
	z-index: 9;

	margin:0!important ;
	padding: 0!important;

	background-color: rgb(25, 25, 51)!important;
}

footer a {
	color: white!Important;
}