/*  Stylesheet */
/**
 *
 * Made By Mad Machines
 */

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	background: #1c1c38;
	color: white;

	font-size: 1rem;
	font-size: 16px;
	font-size: 100%;
	font-family: 'Lato', sans-serif;
}

@media (max-width: 900px) {
	body {
		font-size: 12px;
		font-size: 0.75rem;
		font-size: 75%;
	}
}

header {
	position: absolute!important;
	top: 0;
	left: 0;

	transition: all 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	font-weight: 300;
	font-style: normal;
	z-index: 10;

	height: 100px!important;
	width: 100%;
}

header > nav {
	transition: all 0.5s cubic-bezier(0.190, 1.000, 0.220, 1.000);
	height: 100px;
	line-height: 100px;
}

nav {
	background-color: rgb(25, 25, 51)!important;
	/*background-color: rgba(0, 0, 0, 0.1)!important;*/
	/*background-color: transparent!important;*/
	box-shadow: none!important;
}

nav .brand-logo {
	font-weight: bold;
    text-transform: uppercase;
    color: #ED3952;

	margin-left: 2.8125em;

	font-family: 'Montserrat', sans-serif;

	/*line-height: 125%;*/
	letter-spacing: -4px;
}

@media (max-width: 993px) {
	nav .brand-logo {
		margin-left: 0;
	}
}

nav ul {
	margin-right: 2.8125em;
}

nav ul li a {
	margin: 0 1.25em;
	font-size: .8125em;
	letter-spacing: .0625em;

	font-weight: 700;
	transition: all 500ms ease;
}

nav ul li.active, nav ul li:hover {
	background-color: transparent!Important;
}

nav ul li.active a, nav ul li:hover a {
	color: #ED3952;
}

main {
	height: 100%;
	width: 100%;
	position: relative;

	padding-top: 100px;
}

#about,
#portfolio,
#what-we-do,
#careers,
#contact {
	/*height: 100%;*/
	/*width: 100%;*/

	padding: 20px 0;
	min-height: 600px;

	text-align: center;
	color: white;

	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 800px) {
    #about,
	#portfolio,
	#what-we-do,
	#careers,
	#contact {
		height: 100%;
		width: 100%;
	}
}


main > div h1 {
	/*color: white;*/
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	line-height: 125%;
	letter-spacing: -4px;

	/*text-align: center;*/

	max-width: 900px;
	margin: 20px auto 40px;
}

@media (max-width: 603px) {
	main > div h1 {
		font-size: 3rem;
	}
}

main > div h4 {
	line-height: 140%;
	letter-spacing: -2px;
}

main > div p {
	max-width: 1100px;
	margin: 20px auto;
	font-weight: 400;
	line-height: 150%;
	font-size: 1.3em;
	letter-spacing: 0.5px;
	/*text-align: center;*/
}

main > div .btn {
	/*text-align: center;*/
	margin: 25px 10px auto;
	background-color: #fff;
	color: #ED3952;
	font-weight: bold;
}

main > div .btn:hover {
	background-color: #ED3952;
	color: white;
}

main > div .material-icons {
	display: block;
	font-size: 5em;
}

main > div img {
	display: block;
	margin: 0 auto;
}



/*#what-we-do p {


    font-size: 1.3em;
    font-weight: 300;
    font-style: italic;
}*/

.sub-header-2 {
	line-height: 150%;
	text-align: center;
	font-weight: 300;
}

.red-color {
	color: #ED3952;
	font-family: 'Montserrat', sans-serif;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.uppercase {
	text-transform: uppercase;
}


.particles-js-canvas-el {
	position: fixed;
	top: 0;
	left: 0;
}

.hire-us {
	    border: 1px solid #fff;
    display: initial;
    padding: 10px;
}

#google-map {
	min-height: 300px;
}